.blognav-custom-nav-fsdfjdsiofusdfsoooo
{
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    border: 2px solid;
}

/* div positioning */

.blognav-custom-nav-fsdfjdsiofusdfsoooo-bl
{
    position: fixed;
    left: 3px;
    bottom: 23px;  /* higher since Chrome notifications go down there */
}

.blognav-custom-nav-fsdfjdsiofusdfsoooo-tr
{
    position: fixed;
    right: 3px;
    top: 3px;
}

.blognav-custom-nav-fsdfjdsiofusdfsoooo a
{
    background-color: #fff;
    color: #777;
    margin:0;
    padding:2px;
    display: block;
    float: left;
    width: 1em;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    vertical-align:text-top;
    text-align: center;
}

.blognav-custom-nav-fsdfjdsiofusdfsoooo a:hover
{
    color:#fff;
    background-color: #777;
}
