.blognav-custom-nav-hfgfaaegnboocofajgdfjdibdjaajbgl
{
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    border: 2px solid;
}

/* div positioning */
.blognav-custom-nav-hfgfaaegnboocofajgdfjdibdjaajbgl-bl
{
    position: fixed;
    left: 30px;
    bottom: 30px;  /* higher since Chrome notifications go down there */
}

.blognav-custom-nav-hfgfaaegnboocofajgdfjdibdjaajbgl-tr
{
    position: fixed;
    right: 30px;
    top: 30px;
}

.blognav-custom-nav-hfgfaaegnboocofajgdfjdibdjaajbgl a
{
    color: #777;
    margin:0;
    padding:2px;
    display: block;
    float: left;
    width: 1em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    vertical-align: text-bottom;
    text-align: center;
    line-height: 100%;
}

.blognav-custom-nav-hfgfaaegnboocofajgdfjdibdjaajbgl a:hover
{
    color:#fff;
    background-color: #777;
}

.blognav-custom-nav-hfgfaaegnboocofajgdfjdibdjaajbgl img
{
    display: block;
    float: left;
}
