.blognav-custom-nav-fsdfjdsiofusdfsoooo
{
    background-color: #fff;
    padding: 3px 3px 3px 3px;
    margin: 0px;
    border: 1px solid;
    line-height: 24px;
}

/* div positioning */

.blognav-custom-nav-fsdfjdsiofusdfsoooo-bl
{
    position: fixed;
    left:3px;
    bottom:3px;
}

.blognav-custom-nav-fsdfjdsiofusdfsoooo-tr
{
    position: fixed;
    right:3px;
    top:3px;
}

/* link styling */

.blognav-custom-nav-fsdfjdsiofusdfsoooo a
{
    background-color: #fff;
    border:0; margin:0; padding:0;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-decoration: none;
    color:#c62;
    padding: 0px 3px 3px 3px;
}

.blognav-custom-nav-fsdfjdsiofusdfsoooo a:visited
{
    color:#820;
}
.blognav-custom-nav-fsdfjdsiofusdfsoooo a:hover
{
    color:#fff;
    background-color: #c62;
}
